.mainSection {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;

    background: #f7f7f769;
    box-shadow: 0 0px 10px 0px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.18);
}


.box1 {
    flex: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
}

.box2 {
    flex: 10;
    display: flex;
    padding: 20px;
    width: 100%;
    word-break: break-word;
    font-family: 'Playfair Display', serif;

}

.innerBox{
    border: 2px solid black;
    border-radius: 20px ;
}
.date{
    width: max-content;
}

.red {
    color: red;
    width: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f7f7f769;
}

.red:hover {
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .box1 {
        font-size: 13px;
    }
}
